
Test/bin/

Test/obj/Debug/

TexasHoldemClient/obj/

TexasHoldemClient/bin/

TexasHoldemPoker/obj/

TexasHoldemService/obj/

WinTexasHoldemClient/obj/

Test/obj/

GrpcGameMediatorServer/bin/

GrpcGameMediatorServer/obj/

TexasHoldemPokerClient/obj/

.vs/
/packages
/TexasHoldemPoker/bin/Debug
/TexasHoldemPokerClient/bin/Debug/netcoreapp3.1
/WinPokerClient/WinPokerClient/bin/Debug/netcoreapp3.1
/WinPokerClient/WinPokerClient/obj
/WinPokerClient
